{% extends "base.html.twig" %}

{% block body %}
<h1>passage à streamer</h1>

{% if inProcessList is defined %}
{% for inProcess in inProcessList %}
<p>------------------------------------</p>
    <ul>
        <li>{{ inProcess.name }}</li>
        <li>{{ inProcess.email }}</li>
        <li>{{ inProcess.type }}</li>
        <li>{{ inProcess.tokenInProcess }}</li>
        <a href="{{ path('levelUp', { "id" : inProcess.id, "tokenInProcess" : inProcess.tokenInProcess, "result": "accepted"}) }}">cliquez ici pour authoriser le passage à streamer</a><br>
        <a href="{{ path('levelUp', { "id" : inProcess.id, "tokenInProcess" : inProcess.tokenInProcess, "result":"refused"}) }}">cliquez ici pour refuser le passage à streamer</a>
    </ul>
{% endfor %}

    {% else %}
        <p>il n'y a aucune demande d'élévation de statut actuellement</p>
{% endif %}

    
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/script-api.js') }}"></script>
<script>




</script>



{% endblock %}