{% extends "base.html.twig" %}

{% block body %}
<h1>Mon profil streamer</h1>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="streamBoxProfil ">
                <div class="text-center container">
                    <img src="{{ imgProfil }}" alt="avatar de {{ name }}" class="img-responsive pt-3 img-rounded">
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="streamBoxProfil">
                <div class="text-center">
                    <h2>{{ name }}</h2>
                    <p>mon id twitch : {{ twhitchId }}</p>
                </div>
                <div class="text-center">
                    <h2>Mes activités</h2>
                    <ul>
                        {% for item in activity %}
                            <li class="text-left">{{ item.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class=" col-12 col-md-4">
            <div class="text-center streamBoxProfil">
                <form action="{{ path('streamerProfil') }}" method="POST" class="pt-5">
                    <div class="form-group">
                        <input name="activity" id="bloodhound" class="typeahead form-control" type="text" placeholder="choisi une activité" >
                    </div>
                    <input type="submit" class="btn btn-primary mt-1" value="ajouter">
                </form>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}


{% block javascripts %}
<script src="{{ asset('js/typeahead.bundle.js') }}"></script>   
<script>
    // constructs the suggestion engine
var activityList = {{ activityList|escape|json_encode|raw }};
//var activityList = ['test'];
var activity = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    
    local: activityList
});

$('#bloodhound.typeahead').typeahead({
    hint: true,
    highlight: true,
    minLength: 1
},
{
    name: 'activity',
    source: activity
});



</script>

{% endblock %}