{% extends "base.html.twig" %}
{% block title %}mon calendrier{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap@4.1.0/main.min.css">
{% endblock %}
{% block body %}
<h1 class="text-center">mon calendrier</h1>
    

    <div>
        <form id="favoriteStreamer" class="form-group">
            <input class="typeahead form-control" type="text" placeholder="Streamer">
            <input type="submit" class="btn btn-primary" value="ajouter">
        </form>
    </div>
    <h2 class="text-center">mes streamers favoris</h2>

    <div>

    </div>

<div class="info"></div>
<div class="container">
    <div id="viewerCalendar" class="col-10 streamCalendar"></div>
    <div id="modalPlace"></div>

<div></div>
</div>
{{ dump(streamerList|json_encode) }}
{% endblock %}

{% block javascripts %}
    <script>
        var extractFavoritesEvents = '{{ url('extractFavoritesEvents') }}';
        var listStreamer = {{ streamerList|escape|json_encode|raw }};
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/locales/fr.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap@4.1.0/main.min.js"></script>
    <script src="{{ asset('js/typehead.js') }}"></script>
    <script src="{{ asset('js/scriptViewerCalendar.js') }}" type="text/javascript"></script>
       
{% endblock %}