{% extends "base.html.twig" %}
{% block title %}mon profil{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap@4.1.0/main.min.css">
{% endblock %}
{% block body %}

<div class="container-fluid">
        <h1 class="text-center" style="margin-top:25px;margin-bottom:25px;">mon profil</h1>
        
    <div class="row">
        
        <div id="view" class="col-md-4" style="min-height:100px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 twitchId">
                        <p class="text-center">Twitch ID: {% if app.session.get('account').twitchId %} défini {% else %} pas défini {% endif %}</p>
                    </div>
                    <div class="col-md-6">
                        <p class="text-center">Image de profil:{% if app.session.get('account').profilImage %} <img style="width:50px;" src="{{asset(app.session.get('account').profilImage)}}" alt="image de profil"> {% else %} <img style="width:50px;" src="{{asset('img/inconnu.svg')}}" alt="image de profil"> {% endif %}</p>
                    </div>
                    <div class="col-md-12">
                        {% if app.session.get('account').inProcess == 1 %}
                            <p>Votre demande pour devenir streamer est en cours de traitement</p>
                        {% elseif app.session.get('account').type == 2 %}
                            <p>Désolé, votre demande pour évoluer vers un profil streamer a été rejetée</p>
                        {% elseif app.session.get('account').type == 0 %}
                            <p>Vous pouvez faire évoluer votre compte vers un profil streamer en cliquant <a href="{{ path('viewer2streamer') }}">içi</a></p>
                        {% endif %}
                    </div>
                </div>    
            </div>
        </div>

        <div class="info col-md-4" style="min-height:100px;">
            <h5 class="text-center">Vous pouvez modifier vos infos ici:</h5>
            <form class="form-group col-12 col-md-6 ml-1" action="{{ path('viewerProfile') }}" method="POST">
                <fieldset>
                    <label for="name">Nom</label>
                    <input class="form-control" type="text" name="name" value={{app.session.get('account').name}} placeholder="Entrez votre Nom">
                    {% if errors.name is defined %}
                    <p style="color:red">nom incorrect</p>
                    {% endif %}
                    <label for="email">email</label>
                    <input class="form-control" type="text" name="email" value={{app.session.get('account').email}} placeholder="Entrez votre Email">
                    {% if errors.email is defined %}
                    <p style="color:red";>email invalide</p>
                    {% endif %}
                    {% if errors.alreadyUsed is defined %}
                    <p style="color:red";>email non modifié car déjà utilisé</p>
                    {% endif %}
                    <input class="btn btn-primary mt-3" type="submit" value="Valider">
                </fieldset>
            </form>
        </div>
        
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <p>vous pouvez gérer vos streamers favoris <a href="{{ path('viewerFavStream') }}">içi</a></p>
            </div>
        </div>

    </div>    

</div>

{% endblock %}

{% block javascripts %}
  
    <script src="{{asset('js/script-api.js')}}" type="text/javascript"></script>
    

{% endblock %}