{% extends "base.html.twig" %}
{% block title %}streamers favoris{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap@4.1.0/main.min.css">
{% endblock %}

{% block body %}

    <div class="liststreamer col-md-4" style="min-height:100px;">

        {% if success is defined %}
            <p style="color:green">Le streamer a bien été ajouté</p>
        {% endif %}

        <div id="bloodhound" class="col-8 mx-auto" style="min-height:100px">
            <h5 class="text-center">Ajoutez un favoris :</h5>
            <form class="form-group ml-1" action="{{ path('viewerFavStream') }}" method="POST">
                <input class="form-control typeahead" name="name" type="text" placeholder="nom du Streamer">
                {% if errors.name is defined %}
                    <p style="color:red";>le format du nom n'est pas correct</p>
                {% endif %}
                {% if errors.notexist is defined %}
                    <p style="color:red";>ce streamer n'existe pas</p>
                {% endif %}
                <input class="btn btn-primary mt-3" type="submit" value="Valider">
            </form>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{asset('js/script-api.js')}}" type="text/javascript"></script>
    
    <script>
        var targetExtract = "{{ url('extract') }}";       
    </script>
    
    
    <script src="{{asset('js/typeahead.bundle.js')}}" type="text/javascript"></script>

    <script>
            var streamList= {{streamerList|escape|json_encode|raw}};

    // constructs the suggestion engine
    var streamList = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        // `states` is an array of state names defined in "The Basics"
        local: streamList
    });
    
    $('#bloodhound .typeahead').typeahead({
        hint: true,
        highlight: true,
        minLength: 1
    },
    {
        name: 'streamList',
        source: streamList
    });

    var selectedStreamer;
    $('.typeahead').on('typeahead:selected', function(event,data){
        selectedStreamer=data;
        console.log('selectionné 1: ' + selectedStreamer);
        
        $.ajax({
            type: 'POST',
            url: {{ path('recordFavorite') }},
            dataType: 'json',
            data: {name: selectedStreamer},
            success: function(data) {

                console.log('OK OK OK');

            }
        });
        console.log('selectionné 2: ' + selectedStreamer);
    });

    </script>

{% endblock %}